h1{
  border-color: #000000;
  border-style: solid;
}
header{
  background-color: #f70202;
}
table{
  border: 1px solid #000000;
}
table, th, td {
  border: 1px solid rgb(0, 0, 0);

}
#items-table {
  background-color: red;
}
