h1{
  border-color: #000000;
  border-style: solid;
}
body{
  background-color: #05ff7e;
  margin: 10px;
}
header{
  background-color: #f70202;
}
table{
  border: 1px solid #000000;
}
table, th, td {
  border: 1px solid rgb(0, 0, 0);

}
#items-table {
  background-color: rgb(178, 197, 253);
}
nav{
  display: flex;
  gap: 10px;
}